input[type=text] {
    width: 80%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box !important
}

left-spaced {
    margin-right: 1rem;
}

.striped .left-space{
    margin-left: 1rem;
}

.striped .right-space {
    margin-right: 1rem;
}

.right-space {
    margin-right: 1rem;
}